<section class="w-96 h-96 mx-auto bg-gray-800 grid grid-rows-3 grid-cols-3 gap-2">
  {{#each @board as |cell index|}}
    <button
      type="button"
      class="bg-white text-purple-500 text-lg flex justify-center items-center cursor-pointer hover:bg-gray-100 {{if cell.isWinning "bg-gray-200"}}"
      {{ on "click" (fn @handleClick index) }}
    >
      {{#if cell.userId}}
        <PlayerSymbol @game={{@game}} @playerId={{cell.userId}}/>
      {{/if}}
    </button>
  {{/each}}
</section>
