<div>
  <h2 class="text-lg font-bold mb-4">Score Board</h2>
  <table>
    <thead>
    <tr>
      <th class="border px-3 py-2"></th>
      <th class="border px-3 py-2">Wins</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.winCounts as |w|}}
      <tr>
        <td class="border px-3 py-2">
          <PlayerName @playerId={{w.user_id}} />
        </td>
        <td class="border px-3 py-2 text-center">{{w.wins}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
