<header class="flex justify-between items-center bg-gray-700 text-white font-bold text-lg py-6 px-8">
  <div>Tic-Tac-Toe</div>
  <a href="#" class="bg-gray-300 hover:bg-gray-200 text-gray-700 text-base font-medium rounded px-3 py-2">New game</a>
</header>